
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$ranked-foosball-front-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$spring-green-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($ranked-foosball-front-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ranked-foosball-front-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($ranked-foosball-front-theme);
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --menu-bg-color: #f0f0f0;
  --menu-item-bg-color: #ffffff;
  --menu-item-hover-bg-color: #c0c0c0;
  --menu-item-active-bg-color: #08a227;
  --menu-item-disabled-bg-color: #808080;
  --menu-item-delete-bg-color: #ca0909;
  --menu-item-text-color: #333333;
  --menu-item-icon-color: #08a227;
  --menu-item-border-radius: 20px;
  --top-bar-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: none;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}

body {
  background-color: var(--menu-bg-color);
}

html, body { height: 100%; }

.divider {
  height: 20px;
  width: 100%;
}
