.team-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: start;
  align-items: center;
  padding: 20px 10%;
}

.team-number {
  font-size: 32px;
  color: var(--menu-item-active-bg-color);
}

.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
